---
import ScrollDownImg from '../../img/header/Arrow_Icon.webp';

export interface Props {
  headerTitle: string;
  headerDesc: string;
  headerDescMob1: string;
  headerDescMob2: string;
  bgImgDesktop: string;
  bgImgMob: string;
}

const {
  headerTitle,
  headerDesc,
  headerDescMob1,
  headerDescMob2,
  bgImgDesktop,
  bgImgMob,
} = Astro.props as Props;
---

<section class='work-header-bg'>
  <div class='container work-header'>
    <h2 class='work-header-title slide-in'>{headerTitle}</h2>
    <p class='desc-text work-header-desc slide-in'>
      {headerDesc}
    </p>

    <p class='desc-text-mobile work-header-desc slide-in'>
      {headerDescMob1}

      <span class='read-more'>... Read More</span>
      <span class='read-more-text slide-in'>
        {headerDescMob2}
      </span>
    </p>

    <div class='scroll-down-img'>
      <a href='#projects'>
        <img src={ScrollDownImg} alt='' width='25' />
      </a>
    </div>
  </div>
</section>

<style define:vars={{ bgImgDesktop, bgImgMob }}>
  .work-header-bg {
    min-height: 75vh;
    padding-top: 0;

    background: var(--bgImgDesktop);

    background-size: cover;
    background-position: center center;
  }

  .work-header {
    position: relative;
    min-height: 75vh;
    width: 90%;
    margin: 0 auto;
  }

  .work-header-title {
    font-size: 6rem;
    font-family: var(--suprtall);
    font-weight: bold;
    margin-bottom: 1rem;

    padding-top: 7rem;
  }

  .work-header-desc {
    font-family: var(--usiversltsd);
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 100ch;
  }

  .work-project {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  .desc-text-mobile {
    display: none;
  }

  .scroll-down-img {
    position: absolute;
    left: 0;
    bottom: 5%;
    transform: translateY(-20px);

    /* opacity:0; */
  }

  .fade-in-down-animation {
    animation: fade-in-down 2.5s ease-in-out infinite;
    animation-delay: 3.5s;
  }

  @media (max-width: 1024px) {
    .desc-text {
      display: none;
    }

    .desc-text-mobile {
      display: block;
      font-family: var(--usiversltsd);
      font-size: 1.25rem;
      line-height: 1.6;
      margin-bottom: 1rem;
    }

    .read-more-text {
      line-height: 1.6;
      display: none;
      transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    }

    .read-more {
      cursor: pointer;
      display: inline-block;
    }

    .display-none {
      display: none;
    }

    .read-more-text {
      display: none;
      overflow: hidden;
    }

    .show-read-more {
      display: inline;
      height: auto;
    }
  }

  /* work projects mobile */
  @media (max-width: 800px) {
    .work-header-bg {
      min-height: 65vh;
      padding-top: 0;
      background-image: var(--bgImgMob);

      background-size: cover;
      background-position: center center;
    }
  }
</style>

<script>
  const readMoreBtn = document.querySelector('.read-more');
  const readMoreText = document.querySelector('.read-more-text');

  readMoreBtn.addEventListener('click', function () {
    readMoreText.classList.add('show-read-more');
    readMoreBtn.classList.add('display-none');
  });
</script>
